.main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .statistics {
    width: 100%;
  }
}
.statistics {
  min-width: 300px;
}
.statistics .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}
.statistics .box .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.statistics .box .info .icon {
  color: white;
  padding: 10px;
}
.statistics .box:nth-child(1) .info .icon {
  background-color: var(--Vivid-Vermilion);
}
.statistics .box:nth-child(2) .info .icon {
  background-color: var(--Venetian-Red);
}
.statistics .box:nth-child(3) .info .icon {
  background-color: var(--Crayola);
}
.statistics .box:nth-child(4) .info .icon {
  background-color: var(--Baby-Blue-Eyes);
}
.statistics .box .info .icon i {
  font-size: 1.5rem;
}
.statistics .box .info .text {
  gap: 0px;
}
.statistics .box .info .text .title {
  font-size: 1rem;
}
.statistics .box .space {
  opacity: 0.5;
}
.statistics .card-footer {
  justify-content: center;
  align-items: center;
}
.statistics .card-footer .button {
  padding: 10px 20px;
}
.statistics .card-footer .button:hover i {
  animation: slide-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite
    alternate;
  -webkit-animation: slide-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    infinite alternate;
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}
/* End Statistic Card */
/* ------------------------ */
/* Start Cards Container */
.cards-container {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.cards-container .card .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 10px;
}
.cards-container .card .card-header .title {
  text-transform: none;
}
.cards-container .card .card-header img {
  width: 30%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.cards-container .card .card-header img:hover {
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}
.cards-container .card .card-header a {
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0.8;
  cursor: pointer;
}
.cards-container .card .card-body {
  align-items: start;
}
.cards-container .card .card-body p {
  opacity: 0.5;
}
.cards-container .card .card-footer {
  justify-content: space-between;
}
.cards-container .card .card-footer p {
  opacity: 0.5;
}
